.order-modal {
    font-family: airbnb-book;
    width: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px rgb(221, 221, 221) solid;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    background-color: white;
    text-align: center;
    z-index: 200;
    .confirmation {
        color: rgba(35, 190, 144, 0.829);
        font-weight: 800;
        
        // text-shadow: -1px 1px 1px rgba(200, 200, 200, 0.507);        
        
    }

    .trip-details {
       
        p {
            display: flex;
            justify-content: space-between;
            padding: 0px 100px;

        }
    }
    .order-note {
        color: $clr1;
        padding-top: 10px;
    }

}

.screen {
    position: fixed;
    inset: 0;
    background-color: $clr4;
    opacity: 30%;
    z-index: 100;
    cursor: pointer;
}