.order-modal {
    width: 50%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px rgb(221, 221, 221) solid;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    background-color: white;
    text-align: center;
    z-index: 200;

}

.screen {
    position: fixed;
    inset: 0;
    background-color: $clr4;
    opacity: 30%;
    z-index: 100;
    cursor: pointer;
}