@media (max-width: 960px){
    .filter-stayApp-container-main{
        display: none;
    }
}

@media (min-width: 960px){
    .price-filter-container{
        position: fixed;
        top: 18%;
        left:50px;
        z-index: 10;
        width: 235px;
        margin: auto;
        background-color:#fff;
        padding: 18px;
        border-radius: 10px;
        box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
               .irs-handle{    
            //    opacity: 70%;
               }
       
           .price-min-max-container{
            display: flex;
            gap: 10px;
            justify-content: space-between;
       
            input{
                width: 80px;
                border: 1px solid $clr3;
                box-shadow: 2px 2px 2px solid $clr3;
                border-radius: 8px;
                padding: 5px;
                padding-left: 10px;
                text-align: center;
                color: $clr4;
                font-weight: 500;
                font-family: airbnb-book;         
            }
       
            span{
                font-size: 12px;
            }
        }
       }
       
       .onFilter-btn{
        border: 1px solid $clr3;
        border-radius: 50px;
        padding: 10px 25px;
        .fa-angle-down:before{
            padding-left: 10px;
        }           
    }
       
       .onFilter-btn:hover{
           border: 1px solid $clr5;
           cursor: pointer;

       }
}

//stay-app
.filter-stayApp-container-main{  
    box-shadow: rgba(0, 0, 0, 0.04) 0px 6px 16px;
    top: 55px;
    z-index: 5;
    margin-top: 0;  
    width: 100%;
    position: fixed;
    padding-top: 15px;
    border-bottom: 1px solid rgb(221, 221, 221);

    .filter-btns-stayApp-container{
        background-color: $clr6;
        gap: 10px;
        display: flex;
        flex-direction: row;
        padding: 15px 0;        
        z-index: 6;
        font-family: airbnb-book;
        font-size: 14px;
        .onFilter-btn{
            background-color: $clr6;
        }
        span{
            margin-top: 8px;
            color: $clr3;
            font-size: 20px;
                }
    }
    
    .type-filter-container{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 18%;
        left: 210px;
        z-index: 10;
        width: 170px;
        margin: auto;
        background-color:#fff;
        padding: 15px 10px;
        border-radius: 10px;
        gap: 5px;
        box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px; 
    }
}

