
.alert {
    background-color: $clr1;
    color: $clr6;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
    padding: 10px;
    border: 1px solid $clr6;
    border-radius: 10px;
    font-weight: 600;
    height: fit-content;
}


/* animations */

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}