* {
    box-sizing: border-box;
}

html {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
        Helvetica Neue, sans-serif;
}

body {
    margin: 0;
}

.text-center {
    text-align: center;
}
// Font Sizes
.fs12 { font-size: em(12px); }
.fs14 { font-size: em(14px); }
.fs18 { font-size: em(18px); }
.fs22 { font-size: em(22px); }
.fs24 { font-size: em(24px); }
.fs26 { font-size: em(26px); }
.fs28 { font-size: em(28px); }
.fs30 { font-size: em(30px); }

// flex helpers
.flex {
    display: flex;

    > *.full {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
    &.space-between {
        justify-content: space-between;
    }
}

.clean-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bold {
    font-weight: 600;
}

.gray-font {
    color: rgb(113, 113, 113);
}

.details-font {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
        Helvetica Neue, sans-serif;
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}
.video-ratio {
    @include aspect-ratio(16, 9);
}
.portrait-ratio {
    @include aspect-ratio(9, 16);
}

img {
    object-fit: cover;
    width: 100%;
}

.invisible {
   // visibility: hidden;
   display: none;
}